<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
    {{>style}}
</head>
<body>
    {{>nav}}
    <div class="aboutmain">
    <div class="person">
        <img src="https://cdn4.iconfinder.com/data/icons/business-vol-4-2/100/Artboard_15-512.png" alt="">
    </div>
    <div class="text">
        <h5>welcome to the weather app</h5>
        <h1 >this is aj and I am a learner</h1>
        <button href="">click me</button>
    </div>
</div>
</body>
</html>